body {
    height: 150vh;
    background-color: rgb(33, 200, 241);
    margin-top: 30px;
}

.box {
  max-width: 250px;
  border: 10px solid red;
  box-sizing: border-box;
  padding-left: 30px;
  background-color: black;
  position: sticky;
  left: 43%;
  top: 0;
  animation: pointdown 1000ms infinite alternate-reverse;
}
h1 {
  color: aqua;
  font-family: 'Times New Roman', Times, serif;
}
p {
    color: rgb(5, 5, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
}
button {
   width: 150px;
   height: 80px;
   color: black;
   background-color: aqua;
   font-size: 50px;
   transition: 300ms
}
button:hover {
    opacity: 80%;
    background-color: aquamarine; 
    padding: 15px;   
}
#him::before {
    content: "the greatest of all time ";
}
@keyframes pointdown {
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(15px);
    }
}
